.main {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

@media only screen and (max-width: 780px) {
  .App {
    /* background-color: green !important; */
    height: 100% !important;
  }
  .main {
    /* background-color: yellow !important;
     */
    height: 100%;
    gap: 10px !important;
    margin : 10px 0px;
    flex-direction: column;
  }
  .leftmain {
    width: 100% !important;
    height: 100vh !important;
  }
  .rightmain {
    background-color: white !important;
    width: 100% !important;
    height: 100vh !important;
    border-radius: 8px !important;
  }
  .place .placeimage img {
    height: 100% !important;
    object-fit: center !important;
    width: 100%;
  }
  .highlightscard{
    background-color: #f6f6f8 !important;
  }
}
